<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Academic Quartz</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <div class="logo">
       <img src="/img/logo (1).png" alt="">
      </div>
      <h1>Academic Quartz</h1>
      <p>El principio de todo inicia cuando<br>permites lo que mereces</p>
    </div>
    <div class="right-panel">
      <div class="login-box">
        <h2>Únete Hoy</h2>
        <form>
          <div class="input-group">
            <input type="text" required placeholder="Nombre Completo" />
          </div>
          <div class="input-group">
            <input type="text" required placeholder="Correo" />
          </div>
          <div class="input-group">
            <input type="password" required placeholder="Contraseña" />
          </div>
          <button type="submit" class="btn">Registrarme</button>
        </form>
        <div class="options">
          <p>¿Tienes una cuenta? <a href="/">Inicia Sesion</a></p>
        </div>
      </div>
    </div>
    <div class="circles"></div>
  </div>
</body>
</html>
